
#first{

	width: 300px;
	background-color: yellow;
	overflow: auto;
	height: 200px;
	border: 5px dashed orange;
	margin-top: 10px;
	
}

#sentence1{
	font-weight: bold;
	text-decoration:underline;
	font-size: 20px;
	
}
#sentence2{
	font-weight: bold;
	text-decoration:underline;
	font-size: 20px;
}
#fox{
	width:300px;
	height: 100px;
	border-top: 5px solid brown;
	border-left: 5px solid brown;
	border-bottom: 5px solid gold;
	border-right: 5px solid gold;
}
#body{
	margin:10px;
	background-color: #FCFCDE;
	border: 5px solid brown;
	padding:30px;
	width: 22%;
	margin-left: 37%;
}