
#first{

	width: 300px;
	background-color: gray;
	overflow: auto;
	height: 200px;
}

#sentence1{
	font-weight: bold;
	text-decoration:underline;
	font-size: medium;
	
}
#sentence2{
	font-weight: bold;
	text-decoration:underline;
	font-size: medium;
}
#fox{
	width:300px;
	height: 100px;
}