h1{
	color: green;
}
em{
	color:gold;
}
strong{
	color: gold;
}
#right{
	color: blue;
}
#left{
	color: purple;
}
label{
	color: maroon;
	font-size: 18px;

}
legend{
	color: maroon;
	font-size: 18px;
}
#twit{
	color:cyan;
}