h1{
	color: #FA6496;
}
body{
	font-family: sans-serif;
}
em{
	text-decoration: underline;
	font-size: 28px;
	font-family: sans-serif;
}
strong{
	text-decoration: underline;
	font-weight: bold;
	font-size: 30px;
}
#right{
	color: blue;
}
#left{
	color: purple;
}
label{
	color: maroon;
	font-size: 18px;

}
legend{
	color: maroon;
	font-size: 18px;
}
#twit{
	color:cyan;
	text-decoration:none;
}
#mail{
	background-color: pink;
}